# common
numpy==1.24.4
tqdm==4.66.1
# asset conversion (core)
compress_pickle==2.1.0
filelock==3.13.1
compress_json==1.0.10
scikit-image==0.21.0
objaverse==0.1.7
trimesh==4.0.1
msgpack==1.0.7
filelock==3.13.1
# TODO will be removed once THOR depends on objathor
ai2thor @ git+https://github.com/allenai/ai2thor@13ef2aba9d0228c30d775cbae0b674f0826a97f2