# common
numpy>=1.23.5
tqdm>=4.66.1

# asset conversion (core)
compress_pickle>=2.1.0
filelock>=3.13.1
compress_json>=1.0.10
scikit-image>=0.21.0
objaverse>=0.1.7
trimesh>=4.0.1
msgpack>=1.0.7
filelock>=3.13.1
# TODO will be removed once THOR depends on objathor
# ai2thor @ git+https://github.com/allenai/ai2thor@455cf72a1c8e0759a452422f2128fbc93a3cb06b

# short descriptions additions
attrs
openai
setproctitle
ai2thor
nltk @ git+https://github.com/nltk/nltk@582e6e35f0e6c984b44ec49dcb8846d9c011d0a8
scikit-learn